<body font-family="Arial, Sans-serif" font-size="12px" size="letter">
<table align="center" width="100%">
    <tbody>
    <tr>
        <td align="center">
            <p align="center" font-size="18px" font-weight="bold">Pathway Plus for EleCare<br />
                Phone: 1-855-217-0698&nbsp;Fax: 1-855-752-9885</p>
            <table width="90%">
                <tbody>
                <tr>
                    <td align="center" colspan="2">
                        <p border-top="1px solid rgb(0, 0, 0)" font-size="20px" font-weight="bold" margin-bottom="0px" padding="10px">TRIAGE FORM</p>
                    </td>
                </tr>
                <tr>
                    <td border-top="1px solid rgb(0, 0, 0)" font-size="11px" padding="5px" width="50%">To:<!-- Start of if--><#if case.custevent_bio_sp_fax_numb_1?has_content>${case.custevent_bio_sp_fax_numb_1@label}</#if> <#if case.custevent_bio_sp_fax_numb_2?has_content>${case.custevent_bio_sp_fax_numb_2@label}</#if> <#if case.custevent_bio_sp_fax_numb_3?has_content>${case.custevent_bio_sp_fax_numb_3@label}</#if> <#if case.custevent_bio_sp_fax_numb_4?has_content>${case.custevent_bio_sp_fax_numb_4@label}</#if> <#if case.custevent_bio_sp_fax_numb_5?has_content>${case.custevent_bio_sp_fax_numb_5@label}</#if> <#if case.custevent_bio_sp_fax_numb_6?has_content>${case.custevent_bio_sp_fax_numb_6@label}</#if> <!-- end of if--></td>
                <td border-top="1px solid rgb(0, 0, 0)" font-size="11px" padding="5px" width="50%">FROM: Pathway Plus for EleCare</td>
                </tr>
                <tr>
                    <td border-top="1px solid rgb(0, 0, 0)" font-size="11px" padding="5px" width="50%">Fax:<!-- Start of if--> <#if case.custevent_bio_sp_fax_numb_1?has_content>${case.custevent_bio_sp_fax_numb_1}</#if> <#if case.custevent_bio_sp_fax_numb_2?has_content>${case.custevent_bio_sp_fax_numb_2}</#if> <#if case.custevent_bio_sp_fax_numb_3?has_content>${case.custevent_bio_sp_fax_numb_3}</#if> <#if case.custevent_bio_sp_fax_numb_4?has_content>${case.custevent_bio_sp_fax_numb_4}</#if> <#if case.custevent_bio_sp_fax_numb_5?has_content>${case.custevent_bio_sp_fax_numb_5}</#if> <#if case.custevent_bio_sp_fax_numb_6?has_content>${case.custevent_bio_sp_fax_numb_6}</#if> <!-- end of if--></td>
                <td border-top="1px solid rgb(0, 0, 0)" font-size="11px" padding="5px" width="50%">Pages: 1</td>
                </tr>
                <tr>
                    <td border-top="1px solid rgb(0, 0, 0)" font-size="11px" padding="5px" width="50%">Phone: ${case.CUSTEVENT_BIO_PHYSICIAN_PHONE_NUMBER}</td>
                    <td border-top="1px solid rgb(0, 0, 0)" font-size="11px" padding="5px" width="50%">Date: ${.now?date}</td>
                </tr>
                <tr>
                    <td border-top="1px solid rgb(0, 0, 0)" colspan="2" font-size="11px" padding="5px">Re: Triage Form for {NLCOMPANY}</td>
                </tr>
                <tr>
                    <td border-bottom="1px solid rgb(0, 0, 0)" border-top="1px solid rgb(0, 0, 0)" colspan="2" font-size="11px" padding="5px">Pathway Plus for EleCare PATIENT ID: ${case.CUSTEVENT_BIO_PATIENT_ID_ONLY}</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>

            <table width="100%">
                <tbody>
                <tr>
                    <td align="center">
                        <div border="4px solid rgb(0, 0, 0)" class="border_wraper" font-size="13px" margin-bottom="1px" margin-top="10px" padding="10px">
                            <p align="center" font-size="20px" font-weight="bold"><i>TRIAGE INFORMATION</i></p>

                            <p>We&#39;ve conducted an investigation of the above listed patient&#39;s insurance based on the information available to us at the time.<br />
                                Please see information below:</p>

                            <table align="right" vertical-align="top" width="100%">
                                <tbody>
                                <tr>
                                    <td width="20%">Benefit Type:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_BENFTS_DETL_TYP}</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">Name of PBM:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_PRIMARY_BPM}</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">INS ID No:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_PRIMARY_BPM_ID}</td>
                                    <td width="20%">GRP No:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_BPM_GROUP}</td>
                                </tr>
                                <tr>
                                    <td width="20%">Bin No:</td>
                                    <td align="left" width="30%">{NLCUSTRECORDPHARMACY_BIN_NUMBER}</td>
                                    <td width="20%">PCN:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_PBM_NPI_CNTRL}</td>
                                </tr>
                                <tr>
                                    <td width="20%">RC:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_RELATSHP}</td>
                                    <td width="20%">PC:</td>
                                    <td align="left" width="30%">{NLCUSTRECORDBIO_PERSON_CODE_INS}</td>
                                </tr>
                                <tr>
                                    <td width="20%">DOB:</td>
                                    <td align="left" width="30%">{NLCUSTENTITY_BIO_DATE_OF_BIRTH}</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">Name of MM:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_PRIMARY}</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">MM ID:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_ID_NO}</td>
                                    <td width="20%">MM GRP No:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_FAX_INSUR_GRP_NO}</td>
                                </tr>
                                <tr>
                                    <td width="20%">Cardholder Name:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_CARDHOLDER_NAME}</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">No. of Cans:</td>
                                    <td align="left" width="30%">{NLCUSTRECORD_BIO_BENFTS_AUTHO_VSTS_ALLW}</td>
                                    <td width="20%">NDC:</td>
                                    <td align="left" width="30%">{NLCUSTRECORDNDC_DRUG_NAME}</td>
                                </tr>
                                <tr>
                                    <td width="20%">Triage Date:</td>
                                    <td align="left" width="30%">${case.custevent_bio_sp_triage_nbd}</td>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left" width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">PA Info for Case:</td>
                                    <td align="left"  colspan="3">{NLCUSTRECORD_BIO_PA_INFO}</td>
                                </tr>
                                <tr>
                                    <td width="20%">&nbsp;</td>
                                    <td align="left"  colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="20%">Phcy Instructions:</td>
                                    <td align="left"  colspan="3">${case.custevent_fax7_phcy_triage_instructions}</td>
                                </tr>
                                </tbody>
                            </table>

                            <p>If there are any questions or if your facility did not receive some or all of the documents referenced above, please contact us at&nbsp;Pathway Plus for EleCare at 1-877-217-0698.<br />
                                <br />
                                Thank You.</p>
                            &nbsp;

                            <p font-size="10px">&copy; Abbott Laboratories XXXXXX/December 2018 LITHO IN USA</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>